
@{
    ViewBag.Title = "Canny";
}

<h2>Canny</h2>

<img src="data:image/png;base64,@ViewBag.Base64OrgImage" />
<img src="data:image/png;base64,@ViewBag.Base64GrayImage" />
<img src="data:image/png;base64,@ViewBag.Base64Image" />