
@{
    ViewBag.Title = "Histgram";
}

<h2>Histgram</h2>


<img src="data:image/png;base64,@ViewBag.Base64Img" alt="source image" />
source image
<br />
<img src="data:image/png;base64,@ViewBag.Base64Result" alt="histgram" />
histgram
<br />